<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-primary">My Library</h1>
        <p class="lead text-body-secondary text-success">Welcome to my library. Where you can find any kind of book.</p>
        <p>
            <a href="/" class="btn btn-primary my-2">Go to Home page</a>
            <a href="{% url 'book:list' %}" class="btn btn-secondary my-2">Go to Libarary</a>
        </p>
        </div>
    </div>
</section>